*{
	leading:4;
}


.MS900_50_FFFFFF{
	font-family:Museo Sans 900;
	font-size:50px;
	color:#FFFFFF;
	leading:11;
}

.MS900_29_FFFFFF{
	font-family:Museo Sans 900;
	font-size:29px;
	color:#FFFFFF;
	text-align:center;
}

.MS900_42_FFFFFF{
	font-family:Museo Sans 900;
	font-size:42px;
	color:#FFFFFF;
}

.MS900_36_FFFFFF{
	font-family:Museo Sans 900;
	font-size:36px;
	color:#FFFFFF;
	text-align:left;
	leading:8;
}
.MS900_36_FFFFFF_right{
	font-family:Museo Sans 900;
	font-size:36px;
	color:#FFFFFF;
	text-align:right;
	leading:8;
}

.MS900_88_FFFFFF{
	font-family:Museo Sans 900;
	font-size:88px;
	color:#FFFFFF;
	text-align:center;
	leading:20;
}

.MS500I_24_FFFFFF{
	font-style:italic;
	font-family:Museo Sans 500 Italic;
	font-size:24px;
	color:#FFFFFF;
	text-align:center;
}
.MS500_19_B8AD9E{
	font-family:Museo Sans 500;
	font-size:19px;
	color:#B8AD9E;
	text-align:center;
	leading:5;
}

.MS500_19_FFFFFF{
	font-family:Museo Sans 500;
	font-size:19px;
	color:#FFFFFF;
}
.MS100I_15_FFFFFF{
	font-style:italic;
	font-family:Museo Sans 100 Italic;
	font-size:15px;
	color:#FFFFFF;
	leading:5;
}
.MS100_15_FFFFFF{
	font-family:Museo Sans 100;
	font-size:15px;
	color:#FFFFFF;
	leading:5;
}

.MS900_36_FFFFFF{
	font-family:Museo Sans 900;
	font-size:36px;
	color:#FFFFFF;
}

.MS300_15_FFFFFF{
	font-family:Museo Sans 300;
	font-size:15px;
	color:#FFFFFF;
	leading:3;
}

.MS300_15_B8AD9E{
	font-family:Museo Sans 300;
	font-size:15px;
	color:#B8AD9E;
}

.MS700_15_B8AD9E{
	font-family:Museo Sans 700;
	font-size:15px;
	color:#B8AD9E;
}

.MS900_36_B8AD9E{
	font-family:Museo Sans 900;
	font-size:36px;
	color:#B8AD9E;
}

.MS900_15_B8AD9E{
	font-family:Museo Sans 900;
	font-size:15px;
	color:#B8AD9E;
	leading:4;
}

.MS300_15_FFFFFF{
	font-family:Museo Sans 300;
	font-size:15px;
	color:#FFFFFF;
	leading:4;
}

.MS700_19_FFFFFF{
	font-family:Museo Sans 700;
	font-size:19px;
	color:#FFFFFF;
}

.MS900_20_FFFFFF{
	font-family:Museo Sans 900;
	font-size:20px;
	color:#FFFFFF;
	leading:4;
}

.MS900_15_FFFFFF{
	font-family:Museo Sans 900;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
}

.MS900_15_DEBUG{
	font-family:Museo Sans 900;
	font-size:15px;
	color:#646475;
	text-align:center;
}



.MS500_20_FFFFFF{
	font-family:Museo Sans 500;
	font-size:20px;
	color:#FFFFFF;
}

.MS500_18_FFFFFF{
	font-family:Museo Sans 500;
	font-size:18px;
	color:#FFFFFF;
}

.FRB_19_FFFFFF{
	font-family:ForoRounded-Bold;
	font-weight:bold;
	font-size:19px;
	color:#FFFFFF;
	text-align:center;
}

.FREB_20_FFFFFF{
	font-family:ForoRounded-ExtraBold;
	font-size:20px;
	color:#FFFFFF;
	text-align:center;
}


.FRM_19_FFFFFF{
	font-family:ForoRounded-Medium;
	font-size:19px;
	color:#FFFFFF;
	text-align:center;
	leading:8;
}

.FRB_36_FFFFFF{
	font-family:ForoRounded-Black;
	font-size:36px;
	color:#FFFFFF;
	text-align:center;
}

.FREB_36_FFFFFF{
	font-family:ForoRounded-Bold;
	font-size:36px;
	color:#FFFFFF;
	text-align:center;
}

.FRB_22_FFFFFF{
	font-family:ForoRounded-Bold;
	font-size:22px;
	color:#FFFFFF;
	text-align:center;
	leading:8;
}

.FRM_19_646475{
	font-family:ForoRounded-Medium;
	font-size:19px;
	color:#646475;
	text-align:center;
}

.FREB_20_646475{
	font-family:ForoRounded-ExtraBold;
	font-size:20px;
	color:#646475;
}

.FREB_36_646475{
	font-family:ForoRounded-ExtraBold;
	font-size:36px;
	color:#646475;
}

.FRM_22_646475{
	font-family:ForoRounded-Medium;
	font-size:22px;
	color:#646475;
}

.FRB_15_646475{
	font-family:ForoRounded-Bold;
	font-size:15px;
	color:#646475;
	text-align:center;
}

